button{
	margin-top: 20px;
  font-size: 16px;
  background-color: white;
  color: black;
  border: 2px solid #ccc;
  padding: 12px 25px;
  text-align: center;
  transition-duration: 0.4s;
  cursor: pointer;
}

button:hover {background-color: #dddddd;}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  margin: 20px 0px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #dddddd;
  text-align: center;
}

#content {
  width: 60%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
}


